.btn-accent-outline {
    border: 2px solid var(--accent-secondary);
    border-radius: 0;
    padding: 10px 45px;
    transition: all .25s ease-in-out;
    cursor: pointer;
    display: inline-block;
}

.btn-accent-outline:hover {
    border: 2px solid var(--accent-secondary);
    background: var(--accent-secondary);
    color: white;
    text-decoration: none;
}

input#submit,
input#searchsubmit {
    background: var(--accent-primary);
    border: none;
    padding: 10px 30px;
    color: white;
    cursor: pointer;
    cursor: pointer;
    box-shadow: none !important;
    width: 100%;
    transition: all .25s ease-in-out;
}

input#searchsubmit:hover {
    background: var(--accent-secondary);
}